@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Kategori Ekle</h5>
                <a href="kategori.html" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-list"></i>
                </a>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row mb-3">
                        <label for="kategoriAdi" class="col-sm-2 col-form-label">Kategori Adı</label>
                        <div class="col-sm-10">
                            <input type="text" name="kategoriAdi" id="kategoriAdi" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="kategoriUrl" class="col-sm-2 col-form-label">Url</label>
                        <div class="col-sm-10">
                            <input type="text" name="kategoriUrl" id="kategoriUrl" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>