@using dotnet_store.Data
@model Kategori

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Kategori Sil</h5>
            </div>
            <div class="card-body text-center">
                <p>
                    @Model.KategoriAdi kategorisini silmek istediğinize emin misiniz?
                </p>
                <form method="post" asp-controller="Kategori" asp-action="DeleteConfirm">
                    <input type="hidden" asp-for="Id">
                    <button type="submit" class="btn btn-danger">Sil</button>
                    <a asp-controller="Kategori" asp-action="Index" class="btn btn-primary">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>