@model List<Urun>

@{
    ViewData["Title"] = "Home Page";
}

@section Bar {
  @await Component.InvokeAsync("Navbar")
}

<section class="mt-3">
      <div class="container">
        <div class="card d-flex flex-column" style="height: 500px">
          <div class="row p-1 p-lg-2 gx-lg-3 flex-grow-1 overflow-hidden">
            <div class="col-lg-3 d-none d-lg-block">
              <!-- menu -->
                @await Html.PartialAsync(partialViewName: "Partials/Site/_Menu", ViewData["Kategoriler"])
            </div>
            <div class="col-lg-9 d-flex flex-column h-100">
              <!-- slider -->
                @await Component.InvokeAsync("Slider")
            </div>
          </div>
        </div>
      </div>
</section>

    <section class="mt-3 mb-3">
      <div class="container">
        <h3 class="h4 mb-1 mb-lg-3">Son Eklenenler</h3>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
            @foreach (var urun in Model) {

                <div class="col">
                    @await Html.PartialAsync("Partials/Site/_UrunCard", urun)
                </div>

            }
        </div>
      </div>
    </section>
