@model List<Kategori>

<nav class="nav nav-pills flex-column flex-nowrap overflow-auto slider_nav"
  >
    @foreach (var kategori in Model) {

      <a asp-controller="Urun"
          asp-action="List"
          asp-route-url="/urunler/@kategori.Url" class="nav-link">@kategori.KategoriAdi
      </a>
    }
</nav>